@media (min-width: 319px) {

  .me {
    width: 40%;
  }

  .nav a {
    display: block;
  }

  .footer-name {
    display: block;
    float: left;
  }

  .footer-mobile-nav {
    display: block;
    float: right;
  }

  .footer-nav {
    display: none;
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
}

@media (min-width: 767px) and (max-width: 1022px) {


  .container {
    text-align: center;
    padding: 16px;
  }
  .name {
   display: block;
   margin-bottom: 0;
   font-size: 2em;
  }

  .nav li {
    float: left;
    padding: 20px;
  }

  .nav {
    display: inline-block;
    margin: 0 auto;
    font-size: 1.35em;
  }

  .me {
    width: 20%;
    float: right;
    margin-left: 15px;
  }

  .main-header p{
    text-align: left;
    font-size: 1.15em;
    margin-top: 0;
  }

  .gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
  }

  .gallery li p {
    margin: 0;
    padding: 5%;
    font-size: 1em;
  }

  .gallery li:nth-child(3) {
    clear: left;
  }

  .contact-wrapper {
    clear: left;
    padding-top: 20px;
  }

  .contact-text  {
    margin: 20px 50px;
  }

  .footer-name {
    float: left;
    vertical-align: top;
    margin-left: 20px;
  }

  .footer-nav {
    display: block;
    float:right;
    margin-right: 20px;
  }

  .footer-nav li {
    float: left;
    margin-left: 15px;
    vertical-align: top;
  }

  .footer-mobile-nav {
    display: none;
  }

  ul {
    list-style-type: none;
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 1023px) {

  .container {
    text-align: center;
    padding: 16px;
  }
  .name {
   display: block;
   margin-bottom: 0;
   font-size: 2em;
  }

  .nav li {
    float: left;
    padding: 20px;
  }

  .nav {
    display: inline-block;
    margin: 0 auto;
    font-size: 1.35em;
  }

  .me {
    width: 20%;
    float: right;
    margin-left: 15px;
  }

  .main-header p{
    text-align: left;
    font-size: 1.15em;
    margin-top: 0;
  }

  .name {
    float: left;
    vertical-align: top;
  }

  .nav {
    float:right;
  }

  .nav li {
    float: left;
    margin-left: 15px;
    vertical-align: top;
  }

  .gallery li {
    float: left;
    width: 33.33%;
    margin: 0;
  }

  .gallery li p {
    margin: 0;
    padding: 0 50px 50px 20px;
    font-size: 1em;
  }

  .gallery li:nth-child(4) {
    clear: left;
  }

  ul {
    list-style-type: none;
  }

  .contact-wrapper {
    clear: left;
    padding-top: 20px;
  }

  .contact-text  {
    margin: 20px 300px;
  }

  .footer-mobile-nav {
    display: none;
  }

  .footer-nav {
    display: block;
    float:right;
    margin-right: 20px;
  }

  .footer-nav li {
    float: left;
    margin-left: 15px;
    vertical-align: top;
  }

  .footer
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
}
